body{
  background-color: #363A3E;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1{

  height: 47px;
  width: 570px;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin: 0;
  margin-bottom: .5rem;
}

.input{
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width:7em;
}

select{
  margin-left: .5rem;
}

.equals{
  font-weight: bold;
  font-size: 2rem;
}
